<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="description" content="Kirja is a completely new content sharing experience. Click to learn more, and we'll tell you when it's ready." />
    <meta name="keywords" content="Blogging, social media, content creation, content management system, CMS" />
    <meta name="author" content="Timothy Bradford" />
    <meta name="copyright" content="Timothy Bradford" />
    <meta name="robots" content="index,follow" />
    <title>Kirja Signup Form</title>
    <link rel="icon" type="image/x-icon" href="../public/assets/Kirja_logo.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,800;1,200&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
    <header class="main_header">
        <div class="logo_container">
            <h1 class="main_logo">Kirja</h1>
        </div>
        <div class="menu_container">
            <ul class="main_menu">
                <a href="/investors" class="menu_link">
                    <li class="menu_item">Investors</li>
                </a>
            </ul>
        </div>
    </header>
    <main class="main_body">
        <div class="call_container">
            <div class="main_img">
                <img src="../public/assets/undraw_reminders_re_gtyb.svg" alt="Main page image for Kirja signup" class="call_img" id="call_img" />
            </div>
            <div class="signup_container">
                <div class="signup_text_container">
                    <h1 class="call_to_action">Coming Soon!</h1>
                    <p class="call_to_action_para">
                        At Kirja, we're working on something completely different. Kirja is a place for you to share your ideas with the world. It's a place for you to learn more about topics that you love. It's a place for you to collaborate with others who share your interests.
                        It's a place for you to earn what you deserve for your hard work.
                        <br />
                        <br /> Enter your email address below and we'll let you know as soon as we're ready to go!
                    </p>
                </div>
                <div class="signup_form">
                    <div class="form_field">
                        <input type="email" class="email_input" id="email_input" name="email_input" placeholder="Enter Your Email" required />
                    </div>
                    <div class="submit_btn_container">
                        <button class="submit_btn" id="submit_btn">Submit</button>
                    </div>
                </div>
                <div class="honest_container">
                    <p class="honest_text">
                        (We pinky promise to never sell your email address, and we won't ever spam you. The only peep you'll get out of us is when Kirja is up and running and ready for you to use!)
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="bottom_footer">
        <div class="linkout_container">
            <p class="copy_text">&copy;2022</p>
            <a href="http://timb.codes" target="_blank" class="linkout">{timb.<span>codes</span>}</a
        >
      </div>
    </footer>
    <script src="../public/js/client_app.js"></script>
  </body>
</html>