<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kirja Signup Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,800;1,200&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
    <header class="main_header">
        <div class="logo_container">
            <a href="/">
                <h1 class="main_logo">Kirja</h1>
            </a>
        </div>
        <div class="menu_container">
            <ul class="main_menu">
                <a href="/" class="menu_link">
                    <li class="menu_item">Home</li>
                </a>
            </ul>
        </div>
    </header>
    <main class="main_body">
        <div class="call_container">
            <div class="main_img">
                <img src="../public/assets/undraw_wallet_aym5.svg" alt="Main page image for Kirja signup" class="call_img" id="call_img" />
            </div>
            <div class="signup_container">
                <div class="signup_text_container">
                    <h1 class="call_to_action">
                        Interested in Being Part of Something New?
                    </h1>
                    <p class="call_to_action_para">
                        Kirja is just starting out and looking for investors, project backers, and VC funding.<br />
                        <br /> If you're interested in becoming part of something awesome while supporting a platform that gives everyone a voice, fill out the form below and we'd be happy to tell you more about what we're doing!
                    </p>
                </div>
                <div class="form_container">
                    <div class="contact_form">
                        <form class="main_form" action="/message" method="POST" id="main_form">
                            <div class="side_by_side">
                                <label for="name">Name: <span class="required">*</span></label>
                                <input type="text" name="name" id="name" class="form_field" required />
                            </div>
                            <div class="side_by_side">
                                <label for="email">Email: <span class="required">*</span></label>
                                <input type="email" name="email" id="email" class="form_field" required />
                            </div>
                            <div class="side_by_side">
                                <label for="company">Company: </label
                            >
                            <input
                              type="text"
                              name="company"
                              id="company"
                              class="form_field"
                              required
                            />
                          </div>
                          <button type="submit" name="submit" id="submit" value="submit">Submit</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bottom_footer">
        <div class="linkout_container">
            <p class="copy_text">&copy;2022</p>
            <a href="http://timb.codes" target="_blank" class="linkout">{timb.<span>codes</span>}</a
        >
      </div>
    </footer>
    <script src="../public/js/client_app.js"></script>
  </body>
</html>