<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kirja Signup Form</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,800;1,200&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
    <header class="main_header">
        <div class="logo_container">
            <h1 class="main_logo">Kirja</h1>
        </div>
        <div class="menu_container">
            <ul class="main_menu">
                <a href="#" class="menu_link">
                    <li class="menu_item">Investors</li>
                </a>
            </ul>
        </div>
    </header>
    <main class="main_body">
        <div class="call_container">
            <div class="main_img">
                <img src="../public/assets/undraw_reminders_re_gtyb.svg" alt="Main page image for Kirja signup" class="call_img" id="call_img" />
            </div>
            <div class="signup_container">
                <div class="signup_text_container">
                    <h1 class="call_to_action">Awesome Sauce!</h1>
                    <p class="call_to_action_para">
                        You're all signed up! <br />
                        <br /> We're gonna keep working hard to build the best platform ever. Sit tight and we should be ready soon. Thanks for supporting Kirja!
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer class="bottom_footer">
        <div class="linkout_container">
            <p class="copy_text">&copy;2022</p>
            <a href="http://timb.codes" target="_blank" class="linkout">{timb.<span>codes</span>}</a
        >
      </div>
    </footer>
    <script src="../public/js/client_app.js"></script>
  </body>
</html>