html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font: 14px "Mulish", "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fcfcff;
    color: #131112;
    scroll-behavior: smooth;
}

a {
    color: #b232ce;
    text-decoration: none;
}

*,
*:focus,
*:hover {
    outline: none;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}


/* ===== Scrollbar CSS ===== */


/* Firefox */

* {
    scrollbar-width: auto;
    scrollbar-color: #b232ce #fcfcff;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #fcfcff;
}

*::-webkit-scrollbar-thumb {
    background-color: #b232ce;
    border-radius: 10px;
    border: 0px none #fcfcff;
}

button {
    background-color: #b232ce;
    color: #fcfcff;
    text-decoration: none;
    border: none;
    padding: 0.5rem 2rem;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 400;
    border-radius: 20px;
    -webkit-box-shadow: 3px 6px 5px -2px rgba(19, 17, 18, 0.46);
    box-shadow: 3px 6px 5px -2px rgba(19, 17, 18, 0.46);
    cursor: pointer;
    margin-left: 5px;
}

li {
    list-style: none;
}

img {
    max-height: 30em;
}

.email_input {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #131112;
    box-sizing: border-box;
}

.email_input:focus {
    border: 1px solid #b232ce !important;
    box-sizing: border-box;
}

.main_header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fcfcff;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(19, 17, 18, 0.56);
    box-shadow: 0px 5px 11px 0px rgba(19, 17, 18, 0.56);
    min-height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #b232ce;
}

.main_logo {
    letter-spacing: 1.5px;
    margin-left: 2em;
}

.main_menu {
    margin-right: 6em;
}

.main_menu li {
    display: inline-block;
    font-size: 1.1em;
    margin: 0 1.25em;
    border-bottom: 1px solid #b232ce;
}

.main_body {
    width: 100%;
    height: calc(100vh - 4em);
    margin-top: 4em;
}

.call_container {
    height: 100%;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.signup_container {
    width: 40%;
    margin-left: 20em;
}

.call_to_action {
    margin-bottom: 1.5em;
}

.signup_form {
    margin-top: 4em;
}

.submit_btn {
    margin-top: 1em;
}

.honest_container {
    font-size: 0.9em;
    margin-top: 2em;
}

.linkout_container {
    margin-top: -50px;
    text-align: center;
}

.linkout {
    text-decoration: none;
    color: #131112;
    display: inline-block;
}

.copy_text {
    display: inline-block;
    margin-right: 0.5em;
}

span {
    color: #b232ce;
}

.form_container {
    margin-top: 2em;
}

.side_by_side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    border-radius: 25px;
    border: 1px solid #131112;
    padding: 6px 10px;
    margin: 0.35em;
}

input:focus {
    border: 1px solid #b232ce;
}

#submit {
    margin-top: 1em;
    float: right;
}

@media (-height: 700px) {
    footer {
        display: none;
    }
}

@media (max-width: 1800px) {
    .signup_container {
        min-width: 50%;
        margin-left: 12em;
    }
}

@media (max-width: 1800px) and (min-width: 1180px) {
    .call_img {
        max-height: 275px;
    }
    .signup_container {
        min-width: 50%;
        margin-left: 8em;
    }
}

@media (max-width: 1180px) and (min-width: 820px) {
    .call_container {
        flex-wrap: wrap;
    }
    .signup_container {
        min-width: 80%;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .call_img {
        max-height: 250px;
        margin-top: 3em;
    }
    .linkout_container {
        display: none;
    }
    #submit {
        margin-bottom: 3em;
    }
}

@media (max-width: 768px) {
    html,
    body {
        overflow-x: hidden;
        padding: env(safe-area-inset);
    }
    .call_container {
        flex-wrap: wrap;
    }
    .signup_container {
        min-width: 90%;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 6em;
    }
    .call_img {
        max-height: 250px;
        margin-top: 3em;
    }
    .linkout_container {
        display: none;
    }
    #submit {
        margin-bottom: 3em;
    }
    input {
        text-align: center;
    }
    span {
        display: none;
    }
    .shrink {
        padding: 6px 0;
    }
    .main_menu {
        margin-right: 1em;
    }
    .main_logo {
        letter-spacing: 1.5px;
        margin-left: 1em;
    }
    .success_cont {
        margin: 0;
        padding: 0;
        margin-top: -8em;
    }
}